<app-add-todo (todoAddX)="addTodo($event)" > </app-add-todo>

<h3 style="text-align: center; color: #2596be; font-weight: bold ; font-size: 30px;font-family: cursive;"><img src="assets/ToDoImg.png" alt="" width="70px" height="70px">ToDos. </h3>

<div *ngIf="todos.length===0; else elseBlock" style="color: red; text-align: center; font-size: 20px; font-weight: bold; font-family: cursive;">
    No todos, Enjoy :)
</div>
  
<ng-template #elseBlock>
    <div *ngFor="let item of todos; index as i" style="color: rgb(255, 255, 255);" class="c">
        <app-todo-item [x]="item" [i]="i" (todoDeleteX)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-item>
    </div>  
</ng-template>
  
<!-- rgb(253, 253, 109) -->
